html * {
    color: #000 !important;
    font-family: 'Roboto', sans-serif;
     !important;
}

/*Body Container*/

.clearfix wrapper {
    text-align: left;
    display: block;
    position: relative;
    float: left;
    width: 60%;
    overflow: auto;
 }
/* Header/Logo Title */
.header, h1, img{
    padding: 10px;;
    position: absolute
    text-align: right;
    background: white;
    border-bottom: 10px #00830D double;
/*     margin: 0px 0px  10px; */
/*     text-align: right; */
    font-size: 30px;
/*     display: inline; */
}
img {
    padding: 10px; 
    float: left;
    width: 50px;
    height: auto;
    background: transparent;
    border-radius: 85px 5px 85px;
}

body {
    margin: 0;
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(45deg, #007c01, #00652a, #005627, #2c7081, #2b8387, #130096, #001948, #001349, #020210);
    background-size: 400% 400%;
    -webkit-animation: Gradient 54s ease infinite;
    -moz-animation: Gradient 54s ease infinite;
    -o-animation: Gradient 54s ease infinite;
    animation: Gradient 54s ease infinite;
}

li {
    list-style: none;
}
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 25%
        }

        50% {
            background-position: 50% 50%
        }

        100% {
            background-position: 0% 100%
        }
    }

    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 25%
        }

        50% {
            background-position: 50% 50%
        }

        100% {
            background-position: 0% 100%
        }
    }

    @-o-keyframes Gradient {
        0% {
            background-position: 0% 25%
        }

        50% {
            background-position: 50% 50%
        }

        100% {
            background-position: 0% 100%
        }
    }

    @keyframes Gradient {
        0% {
            background-position: 0% 25%
        }

        50% {
            background-position: 50% 50%
        }

        100% {
            background-position: 0% 100%
        }
    }